################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Orders/Output
**.user
**/packages
**/bin
**/obj
**.suo